<h1 class="h3 mb-2 text-gray-800">Prestamos</h1>

<div>
    <%= link_to new_loan_path, {class: "btn btn-info", id: "crear-loan-btn"} do %>
        <span class="fas fa-plus-square"> Realizar prestamo</span>
    <% end %>
</div>
<br/>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table id="tablaLoans" class="table table-bordered" width="100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Fecha</th>
                        <th>Estado</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% if @loans.empty? %>
                        <tr>
                            <td colspan="4" style="text-align: center"> No hay prestamos</td>
                        </tr>
                    <% else %>
                        <% @loans.each do |lo| %>
                            <tr>
                                <td><%= lo.id %></td>
                                <td><%= lo.fecha %></td>
                                <td><%= lo.estado %></td>
                                <td>
                                    <%= link_to "Borrar", lo, method: :delete, data: {confirm: "¿Borrar loan: #{lo.id}?", class: "btn btn-danger btn-xs"} %>
                                </td>
                            </tr>
                        <% end %>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>