$('#modalDetails').modal('toggle');
$('#detail_<%= @detail.id %>').replaceWith(
    '<tr id="detail_<%= @detail.id %>" ><td><%= @detail.id %></td><td><%= @detail.cantidad %></td><td><%= @detail.book != nil ? @detail.book.titulo : "No existen libros" %></td><td><%= @detail.loan != nil ? @detail.loan.id : "No existen prestamos" %></td><td><%= link_to 'Editar', edit_detail_path(@detail), html_options = {class: "btn btn-info btn-xs", remote: true} %> <%= link_to "Borrar", @detail, remote: true, method: :delete, data: { confirm: "¿Borrar detalle: #{@detail.id}?" }, class: "btn btn-danger btn-xs" %></td></tr>'
);