<!DOCTYPE html>
<html>
  <head>
    <title>AppLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "sb-admin-2.min" %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

          <!-- Sidebar - Brand -->
          <%= link_to root_path, class: "sidebar-brand d-flex align-items-center justify-content-center" do %>
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
          <% end %>

          <!-- Divider -->
          <hr class="sidebar-divider">

          <!-- Heading -->
          <div class="sidebar-heading">
              Modules
          </div>

          <!-- Nav Item - Charts -->
          <li class="nav-item">
          <%= link_to users_path, class: "nav-link" do %>
            <i class="fas fa-users"></i>
            <span>Usuarios</span>
          <% end %>
          </li>

          <!-- Nav Item - Tables -->
          <li class="nav-item">
          <%= link_to books_path, class: "nav-link" do %>
            <i class="fas fa-book"></i>
            <span>Libros</span></a>
          <% end %>
          </li>       
          
          <!-- Nav Item - Tables -->
          <li class="nav-item">
          <%= link_to loans_path, class: "nav-link" do %>
            <i class="fas fa-truck-loading"></i>
            <span>Prestamos</span></a>
          <% end %>
          </li>

          <!-- Nav Item - Tables -->
          <li class="nav-item">
          <%= link_to fines_path, class: "nav-link" do %>
            <i class="fas fa-fire-extinguisher"></i>
            <span>Multas</span></a>
          <% end %>
          </li>

          <!-- Divider -->
          <hr class="sidebar-divider d-none d-md-block">

      </ul>
      <!-- End of Sidebar -->
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

              <!-- Sidebar Toggle (Topbar) -->
              <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                  <i class="fa fa-bars"></i>
              </button>

          </nav>
          <!-- End of Topbar -->
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
